[submodule "perception/code"]
	path = perception/code
	url = git@github.com:Flying-Robots-2024/code.git
[submodule "crazy-navigation"]
	path = crazy-navigation
	url = git@github.com:Flying-Robots-2024/crazy-navigation.git
[submodule "software/-f"]
	path = software/-f
	url = git@github.com:Flying-Robots-2024/crazy-navigation.git
[submodule "software/autonomy/crazy-navigation"]
	path = software/autonomy/crazy-navigation
	url = git@github.com:Flying-Robots-2024/crazy-navigation.git
[submodule "software/autonomy/drone_description"]
	path = software/autonomy/drone_description
	url = git@github.com:Flying-Robots-2024/drone_description.git
